::selection {
	color:black;
	background: yellow;
}

::-moz-selection {
	color:black;
	background: yellow;
}



*,p,ul,h1,h2,h3,h4{
	margin:0;
	padding:0;
	font-family: Verdana;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}


.clear{
	clear: both;
}

.h{ display:none!important;visibility:hidden!important;}

h1, h2, h3,h4{
	font-family: Georgia;
	font-style: italic;
	font-weight: normal;
	font-size: 35px;
	color: #a3baf5;
}

h1{}

h2{font-size:27px;}

h3{font-size:20px;color:#494a4a;}

h4{font-size:16px;}

h5{
	background:#e7f5fc;
	padding:2px;
	color: #1c6387;
}

p{
	font-style: normal;
	font-size: 14px;
	color: black;
}

.h10px{height: 10px;overflow:hidden;}
.h20px{height: 20px;overflow:hidden;}
.h30px{height: 30px;overflow:hidden;}
.h40px{height: 40px;overflow:hidden;}
.h50px{height: 50px;overflow:hidden;}
.h60px{height: 60px;overflow:hidden;}

.w25px{width: 25px;overflow:hidden;}
.w50px{width: 50px;overflow:hidden;}
.w100px{width: 100px;overflow:hidden;}
.w150px{width: 150px;overflow:hidden;}


.logo{
	background: #193965;
	color:white;
	text-align:center;
	font-family: Georgia;
	font-style: italic;
        font-size:13px;

}

.logo a{
	font-size:42px;	
	font-family: Georgia;
	font-style: italic;
	color:white;
	text-decoration: none;
	line-height: 35px;
}

.phone
{
    text-align: right;
}

.phone p{
	line-height: 16px;
	margin-right:10px;
	padding-right: 5px;
}

.phone p span{
	font-size:10px;
	color:#A3BAF5;
	font-size:9px;
	font-weight:normal;	
}

.phone p a{
	font-size:18px;
	text-decoration:none;
	
	color:#A3BAF5;	
}

.phone p a span{
	font-size:18px;
	color:#3C6295;	
}

.phone p a span b{
	color:#0A2C5B;	
}

.menu-top{
	font-size: 16px;
}

.menu-top ul{
	float:right;
}

.menu-top ul li{
	float:left;
	list-style: none;
	padding:10px 5px;
	margin:0 10px;
	line-height:20px;
}

.menu-top ul li.current,.menu-top ul li.current a,
.menu-top ul li.current a:focus,.menu-top ul li.current a:hover{
	background:#FF0000;
	color:white;
	text-decoration:none;
}

.menu-top ul li a{
    color: #009;
    text-decoration: underline;
}

.menu-top ul li a:focus, .menu-top ul li a:hover {
    color: #000;
}

.intro{
	margin-top: 20px;
}

.intro,.column{
	position: relative;
	z-index: 5;
}

.intro p{
	z-index: -1;
	background: transparent;
}

.intro img{
	position: absolute;
	z-index: -2;
}

.rooms h3{
	margin: 25px 0 10px;
}

.map{
	width: 100%;
	height: 230px;
	background: #CFDBFB url('../img/map.jpg') no-repeat;
	position: relative;
	float:left;
}

.rooms .photos{
	width: 100%;
	height: 230px;
}

.rooms .photos a{
	margin:0 6px 6px 0;
	width:175px;
	height:70px;
	display:block;
	float:left;
	border: 1px solid #3399cc;
}

.rooms .photos a:hover{
	border: 1px solid red;
}


.room .photos{
	height: 100px;
	overflow:hidden;
}

.room .photos ul{
	width: 300%;

	position:relative;
}

.room .photos.span-22 {
	width:854px;
}

.room h3{ float:right;margin-right:20px;}
.room .photos li{
	height: 96px;
	width: 200px;
	background:#cfdbfb;
	float:left;
	margin-right:10px;
	border: 2px solid #3399cc;

	list-style: none;
}

.room .photos li:hover{
	border: 2px solid red;
}

.room .photos li a{
	display:block;
	position: relative;
	width:100%;
	height: 100%;
	overflow:hidden;
}

.room .photos li a p{
	width:100%;
	padding: 2px 5px;
	background:gray;
	color:white;
	position: absolute;
	bottom:0px;
	left:-200%;	
}

.room .photos li a:hover p{
	left:0;	
}

.photos-title {
	margin-top:10px;
}

#photos-scroll-left,#photos-scroll-right{
	display:block;
	width: 27px;
	height: 27px;
	border:1px solid #193965;
	background: #4e82ca;
	text-align:center;
	color: white;
	font-size:18px;
	text-decoration:none;
	float:right;
	margin-left:5px;
	margin-top:10px;
}

#photos-scroll-left.disabled,#photos-scroll-right.disabled{

	border:1px solid #c3cadd;
	color: #c3cadd;
	background: #eff2f9;
}

#photos-scroll-right{
	margin-right: 25px;
}

#photos-scroll-status{
	font-size:10px;
	float:left;
	margin-top:5px;

}

.map a{
	position:absolute;
	background:url('../img/map-point.png') no-repeat;
	width:27px;
	height: 28px;
}

.map a:hover,.map a.active{
	background:url('../img/map-point.png') no-repeat 0 100%;
}

.map.selected a:hover{
	background:url('../img/map-point.png') no-repeat;
}

.map.selected a.active, .map.selected a.active:hover{
	background:url('../img/map-point.png') no-repeat 0 100%;
}.room-voloshina{	left: 130px;	top: 95px;}

.room-odesskaya{

	left: 130px;
	top: 120px;
}

.room-shvabskaya{

	left: 115px;
	top: 90px;
}

.room-korzo{

	left: 118px;
	top: 82px;
}

.room-sobranetska{
	left: 65px;
	top: 45px;
}

.room-dukhnovicha{

	left: 122px;
	top: 80px;
}

.room-prospekt-svobodi{

	left: 90px;
	top: 100px;
}

.room-minayskaya{

	left: 90px;
	top: 140px;
}

.room-druzhba-narodov{

	left:80px;
	top:70px;
}

.actions a{
	font-size:18px;
	display:block;
	color:#193965;
	margin-left:15px;
	margin-top:5px;
	font-family:verdana;
}

.actions a:hover{
	color:red;
}


.footer{
	background:#7f98da;
	color:white;
	font-size:16px;
	height:40px;
        margin-top: 200px;
}
.footer a{
	float:right;
	color:white;
	font-style: italic;
	font-family:Georgia;
	text-decoration: none;	
	padding:10px 15px 0 0;

}

.developer{
	background:white;
	color:black;
	font-size:13px;
	height:40px;
	padding-top: 15px;
}
.developer,.developer a{
	color:gray;
	font-style: italic;
	font-family:Georgia;
	text-decoration: none;	

}

.intro p,.room p, .column p{text-align:justify;}

.contact-photo {
        background:#CFDBFB url("../img/photo.jpg") no-repeat scroll center center;
        border:1px solid #3399CC;
        display:block;
        height:200px;
        margin:0 6px 6px 0;
        width:270px;
}

a.special-offer:visited,
a.special-offer:hover,
a.special-offer {
        background:transparent url("../images/site/discount_labels/special-offer.png") no-repeat scroll center center;
        border:0;
        color:white;
        display:block;
        height:115px;
        width:155px;
        position:fixed;
        bottom:0;
        right:0;
}

.rooms-korzo, .rooms-odesskaya, .rooms-voloshina{
	position:absolute;
	width:50px;
	height:34px;
	background:url("../img/wifi-blue.png") no-repeat left top;
	margin-left: 249px;
	margin-top: 111px;
}

.body-admin{
    background:#02051b;
}

.container-admin{
    background:#efefef;
}

.menu-top ul li.to-admin-panel,.menu-top ul li.to-admin-panel a{
	background:#193965;
	color:white;
	text-decoration:none;
}

.menu-top ul li.to-admin-panel:focus,.menu-top ul li.to-admin-panel:hover,
.menu-top ul li.to-admin-panel a:focus,.menu-top ul li.to-admin-panel a:hover{
	color:cyan;
	text-decoration:none;
}

.carousel{
    object-fit:cover;
    height:300px;
}

.carousel-item{
   border: 25px solid white;
}

.carousel li{
   border: 1px solid cornflowerblue;
}

.carousel-image{
    width:100%;
    height:100%;
}

.carousel-indicators .active{
   background-color:cornflowerblue; 
}

.carousel-control.left{
    background-image: URL('../images/site/arr-left.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.carousel-control.right {
    background-image: URL('../images/site/arr-right.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.img {
    object-fit: cover;
    width:200px;
    height:200px;
}

.index-img {
    height:350px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    position:relative;
    z-index: -1;
    top:-30px;
}

#center img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a.order-call:visited,
a.order-call:hover,
a.order-call {
        background:transparent url("../images/site/call.gif") no-repeat scroll center center;
        border:0;
        color:white;
        display:block;
        height:200px;
        width:200px;
        position:fixed;
        top:0;
        right:0;
        transform: rotate(-75deg);
}

ul.prod-gram {
  height: 40px;
  width: 200px;
  color: #000;
  letter-spacing: 0em;
  font-size: 14px;
  line-height: 2.4;
  float: left;
  list-style: none;
  padding: 5px 15px;
  margin: 0;
}

ul.prod-gram li.init {
  background: #fff;
  cursor: pointer;
  border: 1px #fff solid;
}

ul.prod-gram li {
  border: 1px #00000012 solid;
  padding: 5px 15px;
  z-index: 200;
  height: 40px;
  cursor: pointer;
  width: 100%;
  position:relative;
}

ul.prod-gram li:not(.init) {
  width: 100%;
  display: none;
  background: #fff;
}

#map {
    height: 600px;
    width: 100%;
}

.attribute{
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    color: #193965;
}

.labels{
    font-family: Georgia;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    color: #193965;
}

.attribute-selected{
    border: 3px solid limegreen;
}

.attribute-not-selected{
    border: 3px solid white;
}

.apartments-carousel-image{
    width: 400px;
    height: auto;
    border: 1px solid #193965;
}

.apartment-carousel-image{
    width: 250px;
    height: auto;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.apartment-carousel-image-selected{
    width: 250px;
    height: auto;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #a3baf5;
}

.apartment-fullsize{
    background-color: black;
}

.apartment-full-size-image{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto
}